<div class="caja">
  <div class="titulo">
      <div class="sec-title">
        <h2 class="namebig">{{ tarea.nombre }}</h2>
        <h2>{{ tarea.apellido }}</h2>
        <div class="botones">
            <button (click)="tarea.hide = !tarea.hide" class="ver">
              Ver
            </button>
            <button (click)="deleteTask(tarea)" class="eliminar">
                Eliminar
            </button>
        </div>
      </div>
  </div>
  <div class="cuerpo card" [hidden]="tarea.hide">
      <div class="contenido">
        <p>
          <b>Nombre: </b> {{tarea.nombre}} {{tarea.apellido}} <br>
          <b>Correo: </b> {{tarea.email}} <br>
          <b>Celular: </b> {{tarea.celular}} <br>
          <b>Fecha: </b>  {{tarea.fecha}} <br>
          <b>Hora: </b> {{tarea.hora}}</p>
          <b>Descripción: </b> {{tarea.description}}
      </div>
  </div>
</div>