.body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
}


.icon-wrap {
  position: relative;
  height: 200px;
  width: 230px;
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

#calendar-animation .icon-wrap {
  background: #ff9900;
}



@keyframes bounce {

  from {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: scale3d(0,0,0);
      transform: scale3d(0,0,0);
  }

  50% {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      -webkit-transform: scale3d(.5,.5,1);
      transform: scale3d(.5,.5,1);
  }

  75% {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      -webkit-transform: scale3d(1.2,1.2,1);
      transform: scale3d(1.2,1.2,1);
  }

  25%, to {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: scale3d(1,1,1);
      transform: scale3d(1,1,1);
  }

}


#calendar-animation:hover #b1 {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation-delay: 1s;
}

#calendar-animation:hover #b2 {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-delay: 1.5s;
}

#calendar-animation:hover .arrow {
  -webkit-animation-name: animation-width;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: running;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;


  animation-name: animation-width;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;

}

#calendar-animation:hover .icon-wrap {
  -webkit-animation-name: animation-bg;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: running;

  animation-name: animation-bg;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-play-state: running;
  background: #ff9b04;
}



@-webkit-keyframes animation-bg {
  0%     {background-color:#cca468;}
  50.0%  {background-color:#a57f02;}
  100.0%  {background-color:#ccac68;}
}

@keyframes animation-bg {
  0%     {background-color:#ccac68;}
  50.0%  {background-color:#a56c02;}
  100.0%  {background-color:#cca468;}
}

@-webkit-keyframes animation-width {
  0%     {width:0%;}
  100.0%  {width: 100%;}
}

@keyframes animation-width {
  0%     {width:0%;}
  100.0%  {width: 100%;}
}

@-webkit-keyframes opacity {
  0%     {opacity: 1;}
  100.0%  {opacity: 0;}
}

@keyframes opacity {
  0%     {opacity: 1;}
  100.0%  {opacity: 0;}
}

#calendar-icon {
  height: 190px;
  width: 175px;
  background: #fafafa;
  position: relative;
  border-radius: 10px;
  top:60px;
}

.anillas {
  position: absolute;
  top: -5%;
  width: 90%;
  display: flex;
  justify-content: space-around;
  height: 10%;
  padding: 0 5%;
}

.anilla {
  background: #666;
  border-radius: 6px;
  height: 100%;
  width: 6%;
}

.graph {
  background: #e9e9e9; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #e9e9e9 0%,#e9e9e9 15%,#e9e9e9 30%,#d4d6d7 34%,#d4d6d7 100%); 
  background: -webkit-linear-gradient(-45deg, #e9e9e9 0%,#e9e9e9 15%,#e9e9e9 30%,#d4d6d7 34%,#d4d6d7 100%);
  background: linear-gradient(135deg, #e9e9e9 0%,#e9e9e9 15%,#e9e9e9 30%,#d4d6d7 34%,#d4d6d7 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#d4d6d7',GradientType=1 );

  width: 80%;
  height: 30%;
  margin: 10% auto 0;
  box-shadow: -0.15em 0.15em 0 0.1em #bfc0c2;
  position: relative;
}

.arrow-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}



.days {
  display: block;
  width: 81%;
  margin: 12% auto 0;
  height: 35%;
  background: #f1f1f1;
  padding-top: 0px;
  text-align: center;
  border: 1px solid #f1f1f1;
}


.day {
  width: 17%;
  height: 29%;
  box-sizing: border-box;
  background: white;
  display: inline-block;
}



.curl {
  border-radius: 0 0px 10px 10px;
  width: 20%;
  height: 15%;
  position: absolute;
  background: linear-gradient(
          135deg,
          #fff,
          #f3f3f3 45%,
          #e6e6e6 50%,
          #ded9d9 50%,
          #d4d3d3 56%,
          #e0dbdb 62%,
          #f3f3f3 80%,
          #fff 100%
  );
  box-shadow: 0 0 10px -3px rgba(0, 0, 0, .5);
  /* transition: all .5s ease; */
  bottom: 0;
  right: 0;
}




#r3 {
  -webkit-transform-origin: 1315px 500px;
  -webkit-transform: translate(-1130px, -471px) rotate(42deg);
  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
  -webkit-transition-duration: 1s;
  position: absolute;
  z-index: 2;
}

#calendar-animation:hover #r3 {
  -webkit-transform-origin: 1570px 500px;
  -webkit-transform: translate(-1260px, -527px) rotate(90deg);
}

#p3 {
  width: 1285px;
  height: 1000px;
  overflow: hidden;
}



#p3 > div {
      -webkit-transform-origin: 0 0;
  -webkit-transform: translate(1260px, 505px) rotate(-41deg);
  -webkit-transition-property: -webkit-transform, -webkit-transform-origin, opacity;
  -webkit-transition-duration: 1s;
 
  width: 285px;
  height: 200px;
  overflow: hidden;
  background: rgb(254,255,255);
  background: -moz-linear-gradient(-45deg, rgb(233, 233, 233) 0%, rgba(234,234,234,1) 35%, rgba(170,170,170,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgb(233, 233, 233) 0%,rgba(234,234,234,1) 35%,rgba(170,170,170,1) 100%);
  background: linear-gradient(135deg, rgb(233, 233, 233) 0%,rgba(234,234,234,1) 35%,rgba(170,170,170,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#aaaaaa',GradientType=1 );
}

#calendar-animation:hover #p3 > div {


  -webkit-animation-name: opacity;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;

  animation-name: opacity;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: forwards;

  -webkit-transform-origin: 0 0;
  -webkit-transform: translate(1000px, 500px) rotate(0deg);
}

.icon-animation {
  height: 330px;
}

#calendar-icon:after {
      content: "";
  background: transparent;
  position: absolute;
  z-index: 3;
  right: 0px;
  bottom: 0px;
  border: 17px solid transparent;
  border-top-color: #d4d6d7;
  border-radius: 5px;
  border-right-color: #d4d6d7;
  transform: rotate(87deg);
}
IIII  MMMMMMMMMMMM                                                                                                                                                            

.bounce {
  animation: bounce 4s ease infinite;
}
@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}



@media screen and (max-width: 1500px) {
  .body{
    display: none;
  }
}